padding-overloaded = true

if padding-overloaded
  padding(x,y)
    margin 15px

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

body a:hover
  font 12px/1.4 "Lucida Grande", Arial, sans-serif
  background black !important
  color #ccc

#butter.gump tr
  border min(2px)
  border-color red

form input {
  padding: 5px
  border: 1px solid
  border-radius: 5px
}
